body {
    text-align: center;
}

img {
    display: block;
    margin: 1rem auto;
    background-color: black;
    animation: fadeIn 5s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

