@media screen and (min-width: 640px) {

    #menu {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar li {
        flex: 1 1 100%;
    }

    #servicesMenu, #eventsMenu, #spotlightsMenu {
        display: none;
    }

    .cardImage, .serviceType, .eventType, .spotlightType {
        display: block;
    }

    .cards {
        display: flex;
    }

    .card {
        border: 2px solid #006CAE;
        border-radius: 5px;
        width: 30%;
        padding: 0.5rem;
    }

    .cardImage {
        max-width: 95%;
    }

    #joinAndWeather {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #largeFooter {
        display: block;
    }

    #mobileFooter {
        display: none;
    }

    #address {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    /*DISCOVER PAGE*/

    .discoverImage:hover, .discoverImagePortrait:hover{
        border-radius: 20px;
        opacity: 0.6;
      }

    #discoverGrid {
        display: grid;
        grid-template-columns: 275px 2fr;
        margin-left: 5%;
        margin-right: 5%;
    }

    th {
        font-size: 1rem;
    }


    /* DIRECTORY PAGE */
    
    .companyCards {
        width: 98%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 16px;
    }

    .companyCard {
        width: 95%;
        aspect-ratio: 1/1.1;
    }

    .companyTable {
        display: table;
    }
    
    .companyTable tbody {
        padding: 1rem;
    }

    .companyTable td {
        display: table-cell;
        padding: 0.5rem;
    }
    
    .companyTable tr {
        display: table-row;
    }

    .tableName, .tableAddress {
        width: 30%;
    }

    .tableURL {
        width: 25%;
    }

    .tablePhone {
        width: 15%;
    }


}