@media screen and (min-width: 640px) {
    * {
        max-width: 1600px;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mainGrid {
        grid-template-columns: 2fr 1fr;
    }
    
    #menu {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar li {
        flex: 1 1 100%;
    }

    .hero img {
        max-width: 960px;
    }

    .hero span {
        padding: 1rem;
        top: 10%;
        right: 5%;
        font-size: 1.3rem;
    }

    .iframeMobile {
        display: none;
    }

    .iframeDiv {
        max-width: 960px;
    }

    .iframeLarger {
        display: block;
        width: 100%;
    }

}