@media screen and (min-width: 640px) {

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mainGrid {
        grid-template-columns: 2fr 1fr;
    }
    
    #menu {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar li {
        flex: 1 1 100%;
    }




}